[settings]
node_spawn_timeout = 240

[relaychain]
default_command = "{{POLKADOT_BINARY}}"
default_args = ["-lruntime=debug,xcm=trace"]
chain = "westend-local"

	[[relaychain.nodes]]
	name = "alice"
	validator = true
	rpc_port = 9942
	balance = 2000000000000

	[[relaychain.nodes]]
	name = "bob"
	validator = true
	rpc_port = 9943
	balance = 2000000000000

	[[relaychain.nodes]]
	name = "charlie"
	validator = true
	rpc_port = 9944
	balance = 2000000000000

[[parachains]]
id = 1004
chain = "bulletin-westend-local"
cumulus_based = true

	[[parachains.collators]]
	name = "bulletin-westend-collator-1"
	validator = true
	command = "{{POLKADOT_PARACHAIN_BINARY}}"
	rpc_port = 9910
	args = [
		"--ipfs-server", "-lparachain=debug,runtime=trace,xcm=trace,bitswap=trace,sub-libp2p::bitswap=trace"
	]

	[[parachains.collators]]
	name = "bulletin-westend-collator-2"
	validator = true
	command = "{{POLKADOT_PARACHAIN_BINARY}}"
	rpc_port = 8944
	args = [
		"--ipfs-server", "-lparachain=debug,runtime=trace,xcm=trace,bitswap=trace,sub-libp2p::bitswap=trace"
	]
