# To run the network, execute the following command:
#
# cd <root dir>
# ./scripts/create_bulletin_westend_spec.sh
# POLKADOT_BINARY_PATH=../sdk/target/release/polkadot POLKADOT_PARACHAIN_BINARY_PATH=../sdk/target/release/polkadot-parachain POLKADOT_OMNI_NODE_BINARY_PATH=../sdk/target/release/polkadot-omni-node zombienet -p native spawn ./zombienet/bulletin-westend-local.toml

[settings]
node_spawn_timeout = 240

[relaychain]
default_command = "{{POLKADOT_BINARY_PATH}}"
default_args = ["-lruntime=debug,xcm=trace"]
chain = "westend-local"

[[relaychain.nodes]]
name = "alice"
validator = true
rpc_port = 9942
balance = 2000000000000

[[relaychain.nodes]]
name = "bob"
validator = true
rpc_port = 9943
balance = 2000000000000

# People Westend parachain (statement store)
[[parachains]]
id = 1004
chain = "people-westend-local"
cumulus_based = true

[[parachains.collators]]
name = "people-westend-collator-1"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
rpc_port = 9944
args = [
	"--enable-statement-store",
	"-lparachain=debug,runtime=trace,xcm=trace",
]

[[parachains.collators]]
name = "people-westend-collator-2"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
rpc_port = 9945
args = [
	"--enable-statement-store",
	"-lparachain=debug,runtime=trace,xcm=trace",
]

# Bulletin Westend parachain (HOP)
[[parachains]]
id = 1006
chain_spec_path = "./zombienet/bulletin-westend-spec.json"
cumulus_based = true

[[parachains.collators]]
name = "bulletin-westend-collator-1"
command = "{{POLKADOT_OMNI_NODE_BINARY_PATH}}"
validator = true
p2p_port = 10001
rpc_port = 10000
args = [
	"--enable-hop",
	"--rpc-max-request-size=150",
	"--rpc-max-response-size=150",
	"-lparachain=debug,runtime=trace,xcm=trace,hop=debug",
]

[[parachains.collators]]
name = "bulletin-westend-collator-2"
command = "{{POLKADOT_OMNI_NODE_BINARY_PATH}}"
validator = true
p2p_port = 12347
rpc_port = 12346
args = [
	"--enable-hop",
	"--rpc-max-request-size=150",
	"--rpc-max-response-size=150",
	"-lparachain=debug,runtime=trace,xcm=trace,hop=debug",
]
