# To run the network, execute the following command:
#
# cd <root dir>
# ./scripts/create_bulletin_westend_spec.sh
# POLKADOT_BINARY_PATH=~/local_bridge_testing/bin/polkadot POLKADOT_PARACHAIN_BINARY_PATH=~/local_bridge_testing/bin/polkadot-parachain zombienet -p native spawn ./zombienet/bulletin-westend-local.toml

[settings]
node_spawn_timeout = 240

[relaychain]
default_command = "{{POLKADOT_BINARY_PATH}}"
default_args = ["-lruntime=debug,xcm=trace"]
chain = "westend-local"

[[relaychain.nodes]]
name = "alice"
validator = true
p2p_port = 30333
rpc_port = 9942
balance = 2000000000000
# WebSocket P2P on p2p_port + 1 for smoldot light client support
args = ["--listen-addr", "/ip4/0.0.0.0/tcp/30334/ws"]

[[relaychain.nodes]]
name = "bob"
validator = true
p2p_port = 30433
rpc_port = 9943
balance = 2000000000000
# WebSocket P2P on p2p_port + 1 for smoldot light client support
args = ["--listen-addr", "/ip4/0.0.0.0/tcp/30434/ws"]

[[parachains]]
id = 2487
chain_spec_path = "./zombienet/bulletin-westend-spec.json"
cumulus_based = true

[[parachains.collators]]
name = "bulletin-westend-collator-1"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
p2p_port = 10001
rpc_port = 10000
args = [
	"--ipfs-server",
	# Increased tx pool from 20->30 MiB
	# "--pool-kbytes 30720",
	"-lparachain=debug,runtime=trace,xcm=trace,sub-libp2p::bitswap=trace,runtime::transaction-storage=trace",
	# WebSocket P2P on p2p_port + 1 for smoldot light client support
	"--listen-addr",
	"/ip4/0.0.0.0/tcp/10002/ws",
]

[[parachains.collators]]
name = "bulletin-westend-collator-2"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
p2p_port = 12347
rpc_port = 12346
args = [
	"--ipfs-server",
	# Increased tx pool from 20->30 MiB
	# "--pool-kbytes 30720",
	"-lparachain=debug,runtime=trace,xcm=trace,bitswap=trace,sub-libp2p::bitswap=trace,runtime::transaction-storage=trace",
	# WebSocket P2P on p2p_port + 1 for smoldot light client support
	"--listen-addr",
	"/ip4/0.0.0.0/tcp/12348/ws",
]
