# Bulletin Westend Local Network Configuration
#
# To run the network, execute the following commands:
#
# 1. Build and create the chain spec:
#    cd <root dir>
#    ./scripts/create_bulletin_westend_spec.sh
#
# 2. Spawn the zombienet:
#    POLKADOT_BINARY_PATH=~/local_bridge_testing/bin/polkadot \
#    POLKADOT_PARACHAIN_BINARY_PATH=~/local_bridge_testing/bin/polkadot-parachain \
#    zombienet -p native spawn ./zombienet/bulletin-westend-local.toml
#
# 3. Assign cores to the bulletin parachain for block production:
#    After the network is spawned and running, assign cores to enable block production:
#
#    ./scripts/assign_cores.sh ws://localhost:9942 1006 0 1 2 3
#
#    This assigns cores 0, 1, 2, and 3 to parachain 1006 (bulletin).
#    Without explicit core assignment, the parachain may not produce blocks.
#
# The relay chain is configured with 4 cores (num_cores = 4) to support
# multi-core parachain block production.

[settings]
node_spawn_timeout = 240

[relaychain.genesis.runtimeGenesis.patch.configuration.config.scheduler_params]
  max_validators_per_core = 1
  num_cores = 3

[relaychain]
default_command = "{{POLKADOT_BINARY_PATH}}"
default_args = ["-lruntime=debug,xcm=trace"]
chain = "westend-local"

[[relaychain.nodes]]
name = "alice"
validator = true
rpc_port = 9942
balance = 2000000000000

[[relaychain.nodes]]
name = "bob"
validator = true
rpc_port = 9943
balance = 2000000000000

[[parachains]]
id = 1006
chain_spec_path = "./zombienet/bulletin-westend-spec.json"
cumulus_based = true
default_args = ["--authoring", "slot-based"]

[[parachains.collators]]
name = "bulletin-westend-collator-1"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
p2p_port = 10001
rpc_port = 10000
args = [
	"--ipfs-server",
	"-lparachain=debug,runtime=trace,xcm=trace,bitswap=trace,sub-libp2p::bitswap=trace",
]

[[parachains.collators]]
name = "bulletin-westend-collator-2"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
p2p_port = 12347
rpc_port = 12346
args = [
	"--ipfs-server",
	"-lparachain=debug,runtime=trace,xcm=trace,bitswap=trace,sub-libp2p::bitswap=trace",
]

[[parachains.collators]]
name = "bulletin-westend-collator-3"
command = "{{POLKADOT_PARACHAIN_BINARY_PATH}}"
validator = true
p2p_port = 12347
rpc_port = 12346
args = [
	"--ipfs-server",
	"-lparachain=debug,runtime=trace,xcm=trace,bitswap=trace,sub-libp2p::bitswap=trace",
]
